<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Admin</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>

  <div style="position: relative;">
      <div style="position: absolute; top: 0; left: 0; right: 0; text-align: center;">
          <img src="./img/logo" alt="City SUOL" style="margin-top: calc( 10% ); height: 90px;">
      </div>
      <img src="./img/map_green" alt="suol" style="width: 100%;">
  </div>

  <div class="container">
    ${this.data.map(item => `
        <div class="row">
          <div class="col s6 center">
            Маршрут №${item.bus}<br />
          </div>
          <div class="col s6 center">
              Гос.номер ${item.num}<br />
          </div>
        </div>
        <div class="row">
          <div class="col s12 center">
            ${(item.val>0) ? `
            Оценка ${item.val}<br />
            ${item.ids!=undefined ? item.ids.split(";").map( id => this.ids[id] ).join(', ') : ''}<br />` : ''}
            ${item.comment == undefined ? '' : item.comment}
          </div>
        </div>
    `).join('')}
  </div>

  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.min.js"></script>

  </body>
</html>
