<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Parallax Template - Materialize</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>

  <div style="position: relative;">
      <div style="position: absolute; top: 0; left: 0; right: 0; text-align: center;">
          <img src="./img/logo" alt="City SUOL" style="margin-top: calc( 10% ); height: 90px;">
      </div>
      <img src="./img/map_green" alt="suol" style="width: 100%;">
  </div>

  <div class="container">

      <div class="row">
        <div class="col s12 center">
          <br />
          <br />
          <img src="./img/done" alt="done" width="120">

          <div class="icon-block">
            <h5 class="center grey-text text-darken-4"><b>Спасибо за оценку!</b></h5>
          </div>

          <br />
          <br />
        </div>
      </div>

  </div>

  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.min.js"></script>

  </body>
</html>
